<div class="container">
  <div class="row">
    <div class="col-6 mt-5">
      <div class="card">
        <div class="card-header">Small Projects</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" routerLink="/cel-fah">
            Celius Fahrenheit Convertor
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 mt-5">
      <div class="card">
        <div class="card-header">Crud Operations</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" routerLink="/crud/create">Crud</li>
        </ul>
      </div>
    </div>
    <div class="col-6 mt-5">
      <div class="card">
        <div class="card-header">Rx Js</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" routerLink="/rxjs/interval">Interval</li>
          <li class="list-group-item" routerLink="/rxjs/of-from">Of/From</li>
        </ul>
      </div>
    </div>
  </div>
</div>
