<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Sr. No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Number</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of userlist; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ x.firstname }}</td>
            <td>{{ x.lastname }}</td>
            <td>{{ x.gender }}</td>
            <td>{{ x.dob }}</td>
            <td>{{ x.code + " " + x.mobile }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                [routerLink]="'/crud/edit/' + x.id"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteuser(x.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
